window {
  background-color: #2a2827;
  border-radius: 10px;
}

#outer-box {
  margin: 5px;
  border-radius: 10px;
}

#inner-box {
  background-color: #2a2827;
  border-color: #2a2827;
  border-radius: 10px;
  border-style: none;
  border-width: 1px;
  margin: 5px;
  padding: 5px;
}

button,
image {
  background: none;
  border: none;
  box-shadow: none;
}

button {
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
}

button:hover {
  background-color: #5a524c;
}
