{
  acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

(service) {
    reverse_proxy {args[0]}:{args[1]}
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        X-XSS-Protection "1; mode=block"
        Referrer-Policy "strict-origin-when-cross-origin"
        -Server # remove server header for security
    }
}

adguardhome.local.ohlongjohnson.tech {
    import service adguardhome 80
}

adminer.local.ohlongjohnson.tech {
    import service adminer 8080
}

pocket-id.local.ohlongjohnson.tech {
    import service pocket-id 1411
}

atuin.local.ohlongjohnson.tech {
    import service atuin 8888
}

bazarr.local.ohlongjohnson.tech {
    import service bazarr 6767
}

beszel.local.ohlongjohnson.tech {
    import service beszel 8090
}

dozzle.local.ohlongjohnson.tech {
    import service dozzle 8080
}

duplicati.local.ohlongjohnson.tech {
    import service duplicati 8200
}

excalidraw.local.ohlongjohnson.tech {
    import service excalidraw 80
}

gotify.local.ohlongjohnson.tech {
    import service gotify 80
}

homepage.local.ohlongjohnson.tech {
    import service homepage 3000
}

jellyfin.local.ohlongjohnson.tech {
    import service jellyfin 8096
}

linkding.local.ohlongjohnson.tech {
    import service linkding 9090
}


pgbackweb.local.ohlongjohnson.tech {
    import service pgbackweb 8085
}

photoview.local.ohlongjohnson.tech {
    import service photoview 80
}

prowlarr.local.ohlongjohnson.tech {
    import service prowlarr 9696
}

radarr.local.ohlongjohnson.tech {
    import service radarr 7878
}

sabnzbd.local.ohlongjohnson.tech {
    import service sabnzbd 8080
}

searxng.local.ohlongjohnson.tech {
    import service searxng 8080
}

sftpgo.local.ohlongjohnson.tech {
    import service sftpgo 8080
}

sonarr.local.ohlongjohnson.tech {
    import service sonarr 8989
}

syncthing.local.ohlongjohnson.tech {
    import service syncthing 8384
}

transmission.local.ohlongjohnson.tech {
    import service transmission 9091
}
