{
  acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

(service) {
    reverse_proxy {args[0]}:{args[1]}
}

adguardhome.local.ohlongjohnson.tech, adguardhome.ts.ohlongjohnson.tech {
    import service adguardhome 80
}

atuin.local.ohlongjohnson.tech, atuin.ts.ohlongjohnson.tech {
    import service atuin 8888
}

dozzle.local.ohlongjohnson.tech, dozzle.ts.ohlongjohnson.tech {
    import service dozzle 8080
}

duplicati.local.ohlongjohnson.tech, duplicati.ts.ohlongjohnson.tech {
    import service duplicati 8200
}

excalidraw.local.ohlongjohnson.tech, excalidraw.ts.ohlongjohnson.tech {
    import service excalidraw 80
}

jellyfin.local.ohlongjohnson.tech, jellyfin.ts.ohlongjohnson.tech {
    import service jellyfin 8096
}

linkding.local.ohlongjohnson.tech, linkding.ts.ohlongjohnson.tech {
    import service linkding 9090
}

pgadmin.local.ohlongjohnson.tech, pgadmin.ts.ohlongjohnson.tech {
    import service pgadmin 80
}

sftpgo.local.ohlongjohnson.tech, sftpgo.ts.ohlongjohnson.tech {
    import service sftpgo 8080
}

syncthing.local.ohlongjohnson.tech, syncthing.ts.ohlongjohnson.tech {
    import service syncthing 8384
}

transmission.local.ohlongjohnson.tech, transmission.ts.ohlongjohnson.tech {
    import service transmission 9091
}
