default_layout "compact"
default_shell "zsh"
mouse_mode true
pane_frame false
simplified_ui true
theme "catppuccin-mocha"

ui {
    pane_frames {
        hide_session_name true
    }
}

keybinds {
    normal clear-defaults=true {
        bind "Ctrl f" { SwitchToMode "Tmux"; }
        unbind "Ctrl b"
    }
    tmux clear-defaults=true {
        bind "Ctrl d" { Detach; }
        bind "Ctrl f" { Write 2; SwitchToMode "Normal"; }
        bind "Ctrl r" { SwitchToMode "RenameTab"; }
        bind "Ctrl s" { SwitchToMode "Scroll"; }
        bind "-" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "\\" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "Backspace" { GoToPreviousTab; SwitchToMode "Normal"; }
        bind "Enter" { SwitchToMode "Resize"; }
        bind "Space" { NextSwapLayout; }
        bind "Tab" { GoToNextTab; SwitchToMode "Normal"; }
        bind "d" { CloseTab; SwitchToMode "Normal"; }
        bind "f" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "n" { FocusNextPane; SwitchToMode "Normal"; }
        bind "p" { FocusPreviousPane; SwitchToMode "Normal"; }
        bind "q" { Quit; }
        bind "r" { SwitchToMode "RenamePane"; }
        bind "t" { NewTab; SwitchToMode "Normal"; }
        bind "x" { CloseFocus; SwitchToMode "Normal"; }
        bind "s" {
            LaunchOrFocusPlugin "zellij:session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Normal"
        }
    }
}

