default_shell "zsh"
mouse_mode true
pane_frames false
simplified_ui true
theme "catppuccin-mocha"

ui {
    pane_frames {
        hide_session_name true
    }
}

keybinds {
    normal clear-defaults=true {
        bind "Alt -" { Resize "Decrease"; }
        bind "Alt =" "Alt +" { Resize "Increase"; }
        bind "Alt [" { PreviousSwapLayout; }
        bind "Alt ]" { NextSwapLayout; }
        bind "Alt h" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Alt j" "Alt Down" { MoveFocus "Down"; }
        bind "Alt k" "Alt Up" { MoveFocus "Up"; }
        bind "Alt l" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Alt n" { NewPane; }
        bind "Ctrl f" { SwitchToMode "Tmux"; }
    }

    tmux clear-defaults=true {
        bind "Ctrl d" { Detach; }
        bind "Ctrl f" { Write 2; SwitchToMode "Normal"; }
        bind "Ctrl r" { SwitchToMode "RenameTab"; }
        bind "Ctrl s" { SwitchToMode "Scroll"; }
        bind "Backspace" { GoToPreviousTab; SwitchToMode "Normal"; }
        bind "Enter" { SwitchToMode "Resize"; }
        bind "Tab" { GoToNextTab; SwitchToMode "Normal"; }
        bind "-" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "\\" { NewPane "Right"; SwitchToMode "Normal"; }
		bind "f" { ToggleFloatingPanes; SwitchToMode "Normal"; }
        bind "d" { CloseTab; SwitchToMode "Normal"; }
        bind "n" { FocusNextPane; SwitchToMode "Normal"; }
        bind "p" { FocusPreviousPane; SwitchToMode "Normal"; }
        bind "q" { Quit; }
        bind "r" { SwitchToMode "RenamePane"; }
        bind "s" { SwitchToMode "Session"; }
        bind "t" { NewTab; SwitchToMode "Normal"; }
        bind "x" { CloseFocus; SwitchToMode "Normal"; }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
    }
}
