[Desktop Entry]
Type=Application
Name={{ item.name }}
Comment={{ item.comment }}
Path={{ home }}/.local/bin
Exec={{ item.name | lower }}
Icon={{ item.name | lower }}
X-GNOME-SingleWindow={{ item.single_window }}
Terminal={{ item.terminal }}
