@define-color base      #1e1e2e;
@define-color mantle    #181825;
@define-color crust     #11111b;
@define-color text      #cdd6f4;
@define-color subtext0  #a6adc8;
@define-color subtext1  #bac2de;
@define-color surface0  #313244;
@define-color surface1  #45475a;
@define-color surface2  #585b70;
@define-color overlay0  #6c7086;
@define-color overlay1  #7f849c;
@define-color overlay2  #9399b2;
@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

button {
  margin: 2px;
}

#task-box {
  padding-left: 4px;
  padding-right: 4px;
}

#task-box-focused {
  background-color: @text;
  padding-left: 4px;
  padding-right: 4px;
}

#button-custom {
  background: @crust;
  border: 0;
}

#panel-top {
  background: @mantle;
  color: @text;
}

#panel-bottom {
  background: @mantle;
  color: @text;
}

#controls-window {
  border-radius: 15px;
  background: @surface0;
  color: @text;
}
#controls-window scale value {
  color: @text;
}

#brightness-popup {
  border-radius: 15px;
  background: @surface0;
  color: @text;
}
#brightness-popup box {
  padding: 15px;
}

#executor-label {
  font-family: "FiraCode Nerd Font Mono";
}

#clock {
  font-family: "FiraCode Nerd Font Mono";
  font-size: 16px;
}

#weather {
  font-size: 16px;
}

#dwl-tag-box {
  padding-top: 4px;
  padding-bottom: 4px;
}

#dwl-tag-occupied {
  font-family: "FiraCode Nerd Font Mono";
  color: @text;
  background-color: @blue;
  padding-left: 3px;
  padding-right: 3px;
}

#dwl-tag-free {
  font-family: "FiraCode Nerd Font Mono";
  color: @text;
  background-color: @red;
  padding-left: 3px;
  padding-right: 3px;
}

#dwl-tag-urgent {
  font-family: "FiraCode Nerd Font Mono";
  color: @text;
  background-color: @red;
  padding-left: 3px;
  padding-right: 3px;
}

#dwl-tag-selected {
  border: solid 2px;
  border-color: @sapphire;
}
