[Unit]
Description=Launch Plasma with i3
Before=plasma-workspace.target

[Service]
ExecStart=/run/current-system/sw/bin/i3
Restart=on-failure

[Install]
WantedBy=plasma-workspace.target
